@media screen and (min-width:800px) {
    .mainDiv {
        width: 80%;
        margin: 0 10% 0 10%;
        height: 100%;
    }
    .firstTrend {
        display: flex;
        justify-content: space-around;
        padding: 20px 0 0 0;
    }
    #pictureArticle {
        display: inline-block;
        float: right;
        width: 64%;
        margin-left: 1%;
        height: auto;
    }
    #pictureArticle img {
        max-height: 524px;
        width: 100%;
    }
    #pictureArticle h2 {
        padding: 5px 15px 5px 15px;
    }
    #pictureArticle:hover {
        box-shadow: -15px 15px 15px -5px gray;
    }
    #noteArticle {
        display: inline-block;
        width: 34%;
        height: auto;
        float: left;
        margin-right: 1%;
    }
    #noteArticle p {
        width: 70%;
        text-align: justify;
        margin: 0 auto;
        padding: 2% 5% 2% 5%;
    }
    #noteArticle h1 {
        text-align: center;
        padding: 10px 15px 10px 15px;
    }
    #noteArticle:hover {
        box-shadow: 15px 15px 15px -5px gray;
    }
    #noteArticle span {
        display: inline-block;
        position: relative;
    }
    #noteArticle span:before,
    #noteArticle span:after {
        content: "";
        position: absolute;
        border-bottom: 1px solid black;
        top: 0;
        min-width: 50%;
        max-width: 200px;
        margin-top: 10px;
    }
    #noteArticle span:before {
        margin-right: 5%;
        margin-left: 5%;
        left: 100%;
    }
    #noteArticle span:after {
        margin-right: 5%;
        margin-left: 5%;
        right: 100%;
    }
}

@media screen and (max-width:800px) {
    #pictureArticle iframe {
        width: 100%;
        height: auto;
    }
}