@media screen and (min-width:800px) {
    .mainDiv {
        width: 80%;
        margin: 0 10% 0 10%;
    }
    .firstTrend {
        display: flex;
        justify-content: space-around;
    }
    #pictureArticle {
        display: inline-block;
        float: right;
        width: 64.5%;
        margin-left: 0.5%;
    }
    #pictureArticle img {
        height: auto;
        width: 100%;
    }
    #pictureArticle:hover {
        box-shadow: -15px 15px 15px -5px gray;
    }
    #noteArticle {
        display: inline-block;
        width: 34.5%;
        height: auto;
        float: left;
        margin-right: 0.5%;
    }
    #noteArticle p {
        width: 100%;
    }
    #noteArticle:hover {
        box-shadow: 15px 15px 15px -5px gray;
    }
    #noteArticle span {
        display: inline-block;
        position: relative;
    }
    #noteArticle span:before,
    #noteArticle span:after {
        content: "";
        position: absolute;
        border-bottom: 1px solid black;
        top: 0;
        min-width: 50%;
        max-width: 200px;
        margin-top: 10px;
    }
    #noteArticle span:before {
        margin-right: 5%;
        margin-left: 5%;
        left: 100%;
    }
    #noteArticle span:after {
        margin-right: 5%;
        margin-left: 5%;
        right: 100%;
    }
    #noteArticle h1,
    #noteArticle p {
        text-align: center;
    }
}

@media screen and (max-width:800px) {
    #pictureArticle img {
        width: 100%;
        height: auto;
    }
}